   # Data Science Tools amd Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- List popular programming languages
- Commonly used libraries
- Evaluatin arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|--------------------|
| R Studio           |
| Apache Spark       |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in python ###

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author ##
Mohammed Jafri